* {
    font-family: Lato, sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.logo {
    max-height: 100px;
    margin-top: 5px;
}

.title-super {
    font-size: 50px;
}

.text-thin {
    font-weight: 100;
}

hr {
    border: none;
    height: 1px;
    background-color: #02b3e4;
}

.featured-work {
    color: #7d97ad;
}

.text-muted {
    color: #bcbbbb;
}
